 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Our goal is to connect polticians and citizens in a fun and engaging way that celebrates the freedom of choice and representation worldwide.</p>
                </div>
                <div class="col-lg-4">
                    <p>We strive to remove the limitations of the current system and radically change the way people interact with poltics</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download IOS
                    </a>
                    <a href="" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Android
                    </a>
                </div>
            </div>
        </div>
    </section>
